.spaceForm{
    width: 100%;
    justify-content: center;
}
.selectReact{
    max-width: 500px;
    min-width: 300px;
    cursor: text !important;
}

.rangePicker{
    max-width: 500px;
    min-width: 300px;
    height: 38px;
    border-radius: 4px;
}
