.containerLeft {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.ibb.co/X7FJ19v/1488.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    gap: 1em;
    padding: 3em;
    background-size: cover;
}

.containerRight {
    height: 100vh;
    display: flex;
    padding: 1em;
}