.header{
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100vw;
    height: calc(100vh - 46px);
    color: #27093a;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}